@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/GilmerOutline.eot');
    src: url('../fonts/GilmerOutline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GilmerOutline.woff2') format('woff2'),
        url('../fonts/GilmerOutline.woff') format('woff'),
        url('../fonts/GilmerOutline.ttf') format('truetype'),
        url('../fonts/GilmerOutline.svg#GilmerOutline') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/GilmerLight.eot');
    src: url('../fonts/GilmerLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GilmerLight.woff2') format('woff2'),
        url('../fonts/GilmerLight.woff') format('woff'),
        url('../fonts/GilmerLight.ttf') format('truetype'),
        url('../fonts/GilmerLight.svg#GilmerLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/GilmerRegular.eot');
    src: url('../fonts/GilmerRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GilmerRegular.woff2') format('woff2'),
        url('../fonts/GilmerRegular.woff') format('woff'),
        url('../fonts/GilmerRegular.ttf') format('truetype'),
        url('../fonts/GilmerRegular.svg#GilmerRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/GilmerMedium.eot');
    src: url('../fonts/GilmerMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GilmerMedium.woff2') format('woff2'),
        url('../fonts/GilmerMedium.woff') format('woff'),
        url('../fonts/GilmerMedium.ttf') format('truetype'),
        url('../fonts/GilmerMedium.svg#GilmerMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/GilmerBold.eot');
    src: url('../fonts/GilmerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GilmerBold.woff2') format('woff2'),
        url('../fonts/GilmerBold.woff') format('woff'),
        url('../fonts/GilmerBold.ttf') format('truetype'),
        url('../fonts/GilmerBold.svg#GilmerBold') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Gilmer';
    src: url('../fonts/GilmerHeavy.eot');
    src: url('../fonts/GilmerHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GilmerHeavy.woff2') format('woff2'),
        url('../fonts/GilmerHeavy.woff') format('woff'),
        url('../fonts/GilmerHeavy.ttf') format('truetype'),
        url('../fonts/GilmerHeavy.svg#GilmerHeavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

















