.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}

.posRel {
  position: relative;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.plpx-0 {
  padding-left: 0px;
}

.plpx-2 {
  padding-left: 2px;
}

.prpx-2 {
  padding-right: 2px;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dbdbdb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider-switch {
  background-color: #2fd7cf;
}

input:focus + .slider-2fd7cf {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded slider-switchs */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}

.fa-22 {
  font-size: 22px!important;
}

.wd100 {
  width: 100%;
}

.d-color {
  color: #1d2129;
}

.green-clr-txt {
    color: #5fba7f!important;
}

.red-clr-txt {
    color: #d81616!important;
}

.fa-20 {
  font-size: 20px!important;
}

.fa-18 {
  font-size: 18px!important;
}

.fa-16 {
  font-size: 16px!important;
}

.fa-14 {
  font-size: 14px!important;
}

.fa-reg {
  font-weight: 400!important;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-left-f {
  text-align: left!important;
}

.text-center {
  text-align: center;
}

.va-ctr {
  align-items: center;
}

.posRel {
  position: relative;
}

.nobdt {
  border-top: none!important; 
}


.ctrdv {
  margin: 0 auto;
}

.mlpx-0 {
  margin-left: 0px!important;
}

.mlpx-10 {
  margin-left: 10px!important;
}

.mlpx-20 {
  margin-left: 20px!important;
}


.mt-100 {
  margin-top: 100% !important; }

.mt-99 {
  margin-top: 99% !important; }

.mt-98 {
  margin-top: 98% !important; }

.mt-97 {
  margin-top: 97% !important; }

.mt-96 {
  margin-top: 96% !important; }

.mt-95 {
  margin-top: 95% !important; }

.mt-94 {
  margin-top: 94% !important; }

.mt-93 {
  margin-top: 93% !important; }

.mt-92 {
  margin-top: 92% !important; }

.mt-91 {
  margin-top: 91% !important; }

.mt-90 {
  margin-top: 90% !important; }

.mt-89 {
  margin-top: 89% !important; }

.mt-88 {
  margin-top: 88% !important; }

.mt-87 {
  margin-top: 87% !important; }

.mt-86 {
  margin-top: 86% !important; }

.mt-85 {
  margin-top: 85% !important; }

.mt-84 {
  margin-top: 84% !important; }

.mt-83 {
  margin-top: 83% !important; }

.mt-82 {
  margin-top: 82% !important; }

.mt-81 {
  margin-top: 81% !important; }

.mt-80 {
  margin-top: 80% !important; }

.mt-79 {
  margin-top: 79% !important; }

.mt-78 {
  margin-top: 78% !important; }

.mt-77 {
  margin-top: 77% !important; }

.mt-76 {
  margin-top: 76% !important; }

.mt-75 {
  margin-top: 75% !important; }

.mt-74 {
  margin-top: 74% !important; }

.mt-73 {
  margin-top: 73% !important; }

.mt-72 {
  margin-top: 72% !important; }

.mt-71 {
  margin-top: 71% !important; }

.mt-70 {
  margin-top: 70% !important; }

.mt-69 {
  margin-top: 69% !important; }

.mt-68 {
  margin-top: 68% !important; }

.mt-67 {
  margin-top: 67% !important; }

.mt-66 {
  margin-top: 66% !important; }

.mt-65 {
  margin-top: 65% !important; }

.mt-64 {
  margin-top: 64% !important; }

.mt-63 {
  margin-top: 63% !important; }

.mt-62 {
  margin-top: 62% !important; }

.mt-61 {
  margin-top: 61% !important; }

.mt-60 {
  margin-top: 60% !important; }

.mt-59 {
  margin-top: 59% !important; }

.mt-58 {
  margin-top: 58% !important; }

.mt-57 {
  margin-top: 57% !important; }

.mt-56 {
  margin-top: 56% !important; }

.mt-55 {
  margin-top: 55% !important; }

.mt-54 {
  margin-top: 54% !important; }

.mt-53 {
  margin-top: 53% !important; }

.mt-52 {
  margin-top: 52% !important; }

.mt-51 {
  margin-top: 51% !important; }

.mt-50 {
  margin-top: 50% !important; }

.mt-49 {
  margin-top: 49% !important; }

.mt-48 {
  margin-top: 48% !important; }

.mt-47 {
  margin-top: 47% !important; }

.mt-46 {
  margin-top: 46% !important; }

.mt-45 {
  margin-top: 45% !important; }

.mt-44 {
  margin-top: 44% !important; }

.mt-43 {
  margin-top: 43% !important; }

.mt-42 {
  margin-top: 42% !important; }

.mt-41 {
  margin-top: 41% !important; }

.mt-40 {
  margin-top: 40% !important; }

.mt-39 {
  margin-top: 39% !important; }

.mt-38 {
  margin-top: 38% !important; }

.mt-37 {
  margin-top: 37% !important; }

.mt-36 {
  margin-top: 36% !important; }

.mt-35 {
  margin-top: 35% !important; }

.mt-34 {
  margin-top: 34% !important; }

.mt-33 {
  margin-top: 33% !important; }

.mt-32 {
  margin-top: 32% !important; }

.mt-31 {
  margin-top: 31% !important; }

.mt-30 {
  margin-top: 30% !important; }

.mt-29 {
  margin-top: 29% !important; }

.mt-28 {
  margin-top: 28% !important; }

.mt-27 {
  margin-top: 27% !important; }

.mt-26 {
  margin-top: 26% !important; }

.mt-25 {
  margin-top: 25% !important; }

.mt-24 {
  margin-top: 24% !important; }

.mt-23 {
  margin-top: 23% !important; }

.mt-22 {
  margin-top: 22% !important; }

.mt-21 {
  margin-top: 21% !important; }

.mt-20 {
  margin-top: 20% !important; }

.mt-19 {
  margin-top: 19% !important; }

.mt-18 {
  margin-top: 18% !important; }

.mt-17 {
  margin-top: 17% !important; }

.mt-16 {
  margin-top: 16% !important; }

.mt-15 {
  margin-top: 15% !important; }

.mt-14 {
  margin-top: 14% !important; }

.mt-13 {
  margin-top: 13% !important; }

.mt-12 {
  margin-top: 12% !important; }

.mt-11 {
  margin-top: 11% !important; }

.mt-10 {
  margin-top: 10% !important; }

.mt-9 {
  margin-top: 9% !important; }

.mt-8 {
  margin-top: 8% !important; }

.mt-7 {
  margin-top: 7% !important; }

.mt-6 {
  margin-top: 6% !important; }

.mt-5 {
  margin-top: 5% !important; }

.mt-4 {
  margin-top: 4% !important; }

.mt-3 {
  margin-top: 3% !important; }

.mt-2 {
  margin-top: 2% !important; }

.mt-1 {
  margin-top: 1% !important; }

.mt-0 {
  margin-top: 0% !important; }

.mbpx-100 {
  margin-bottom: 100px !important; }

.mbpx-99 {
  margin-bottom: 99px !important; }

.mbpx-98 {
  margin-bottom: 98px !important; }

.mbpx-97 {
  margin-bottom: 97px !important; }

.mbpx-96 {
  margin-bottom: 96px !important; }

.mbpx-95 {
  margin-bottom: 95px !important; }

.mbpx-94 {
  margin-bottom: 94px !important; }

.mbpx-93 {
  margin-bottom: 93px !important; }

.mbpx-92 {
  margin-bottom: 92px !important; }

.mbpx-91 {
  margin-bottom: 91px !important; }

.mbpx-90 {
  margin-bottom: 90px !important; }

.mbpx-89 {
  margin-bottom: 89px !important; }

.mbpx-88 {
  margin-bottom: 88px !important; }

.mbpx-87 {
  margin-bottom: 87px !important; }

.mbpx-86 {
  margin-bottom: 86px !important; }

.mbpx-85 {
  margin-bottom: 85px !important; }

.mbpx-84 {
  margin-bottom: 84px !important; }

.mbpx-83 {
  margin-bottom: 83px !important; }

.mbpx-82 {
  margin-bottom: 82px !important; }

.mbpx-81 {
  margin-bottom: 81px !important; }

.mbpx-80 {
  margin-bottom: 80px !important; }

.mbpx-79 {
  margin-bottom: 79px !important; }

.mbpx-78 {
  margin-bottom: 78px !important; }

.mbpx-77 {
  margin-bottom: 77px !important; }

.mbpx-76 {
  margin-bottom: 76px !important; }

.mbpx-75 {
  margin-bottom: 75px !important; }

.mbpx-74 {
  margin-bottom: 74px !important; }

.mbpx-73 {
  margin-bottom: 73px !important; }

.mbpx-72 {
  margin-bottom: 72px !important; }

.mbpx-71 {
  margin-bottom: 71px !important; }

.mbpx-70 {
  margin-bottom: 70px !important; }

.mbpx-69 {
  margin-bottom: 69px !important; }

.mbpx-68 {
  margin-bottom: 68px !important; }

.mbpx-67 {
  margin-bottom: 67px !important; }

.mbpx-66 {
  margin-bottom: 66px !important; }

.mbpx-65 {
  margin-bottom: 65px !important; }

.mbpx-64 {
  margin-bottom: 64px !important; }

.mbpx-63 {
  margin-bottom: 63px !important; }

.mbpx-62 {
  margin-bottom: 62px !important; }

.mbpx-61 {
  margin-bottom: 61px !important; }

.mbpx-60 {
  margin-bottom: 60px !important; }

.mbpx-59 {
  margin-bottom: 59px !important; }

.mbpx-58 {
  margin-bottom: 58px !important; }

.mbpx-57 {
  margin-bottom: 57px !important; }

.mbpx-56 {
  margin-bottom: 56px !important; }

.mbpx-55 {
  margin-bottom: 55px !important; }

.mbpx-54 {
  margin-bottom: 54px !important; }

.mbpx-53 {
  margin-bottom: 53px !important; }

.mbpx-52 {
  margin-bottom: 52px !important; }

.mbpx-51 {
  margin-bottom: 51px !important; }

.mbpx-50 {
  margin-bottom: 50px !important; }

.mbpx-49 {
  margin-bottom: 49px !important; }

.mbpx-48 {
  margin-bottom: 48px !important; }

.mbpx-47 {
  margin-bottom: 47px !important; }

.mbpx-46 {
  margin-bottom: 46px !important; }

.mbpx-45 {
  margin-bottom: 45px !important; }

.mbpx-44 {
  margin-bottom: 44px !important; }

.mbpx-43 {
  margin-bottom: 43px !important; }

.mbpx-42 {
  margin-bottom: 42px !important; }

.mbpx-41 {
  margin-bottom: 41px !important; }

.mbpx-40 {
  margin-bottom: 40px !important; }

.mbpx-39 {
  margin-bottom: 39px !important; }

.mbpx-38 {
  margin-bottom: 38px !important; }

.mbpx-37 {
  margin-bottom: 37px !important; }

.mbpx-36 {
  margin-bottom: 36px !important; }

.mbpx-35 {
  margin-bottom: 35px !important; }

.mbpx-34 {
  margin-bottom: 34px !important; }

.mbpx-33 {
  margin-bottom: 33px !important; }

.mbpx-32 {
  margin-bottom: 32px !important; }

.mbpx-31 {
  margin-bottom: 31px !important; }

.mbpx-30 {
  margin-bottom: 30px !important; }

.mbpx-29 {
  margin-bottom: 29px !important; }

.mbpx-28 {
  margin-bottom: 28px !important; }

.mbpx-27 {
  margin-bottom: 27px !important; }

.mbpx-26 {
  margin-bottom: 26px !important; }

.mbpx-25 {
  margin-bottom: 25px !important; }

.mbpx-24 {
  margin-bottom: 24px !important; }

.mbpx-23 {
  margin-bottom: 23px !important; }

.mbpx-22 {
  margin-bottom: 22px !important; }

.mbpx-21 {
  margin-bottom: 21px !important; }

.mbpx-20 {
  margin-bottom: 20px !important; }

.mbpx-19 {
  margin-bottom: 19px !important; }

.mbpx-18 {
  margin-bottom: 18px !important; }

.mbpx-17 {
  margin-bottom: 17px !important; }

.mbpx-16 {
  margin-bottom: 16px !important; }

.mbpx-15 {
  margin-bottom: 15px !important; }

.mbpx-14 {
  margin-bottom: 14px !important; }

.mbpx-13 {
  margin-bottom: 13px !important; }

.mbpx-12 {
  margin-bottom: 12px !important; }

.mbpx-11 {
  margin-bottom: 11px !important; }

.mbpx-10 {
  margin-bottom: 10px !important; }

.mbpx-9 {
  margin-bottom: 9px !important; }

.mbpx-8 {
  margin-bottom: 8px !important; }

.mbpx-7 {
  margin-bottom: 7px !important; }

.mbpx-6 {
  margin-bottom: 6px !important; }

.mbpx-5 {
  margin-bottom: 5px !important; }

.mbpx-4 {
  margin-bottom: 4px !important; }

.mbpx-3 {
  margin-bottom: 3px !important; }

.mbpx-2 {
  margin-bottom: 2px !important; }

.mbpx-1 {
  margin-bottom: 1px !important; }

.mbpx-0 {
  margin-bottom: 0px !important; }

.mtpx-135 {
  margin-top: 135px !important; }

.mtpx-100 {
  margin-top: 100px !important; }

.mtpx-99 {
  margin-top: 99px !important; }

.mtpx-98 {
  margin-top: 98px !important; }

.mtpx-97 {
  margin-top: 97px !important; }

.mtpx-96 {
  margin-top: 96px !important; }

.mtpx-95 {
  margin-top: 95px !important; }

.mtpx-94 {
  margin-top: 94px !important; }

.mtpx-93 {
  margin-top: 93px !important; }

.mtpx-92 {
  margin-top: 92px !important; }

.mtpx-91 {
  margin-top: 91px !important; }

.mtpx-90 {
  margin-top: 90px !important; }

.mtpx-89 {
  margin-top: 89px !important; }

.mtpx-88 {
  margin-top: 88px !important; }

.mtpx-87 {
  margin-top: 87px !important; }

.mtpx-86 {
  margin-top: 86px !important; }

.mtpx-85 {
  margin-top: 85px !important; }

.mtpx-84 {
  margin-top: 84px !important; }

.mtpx-83 {
  margin-top: 83px !important; }

.mtpx-82 {
  margin-top: 82px !important; }

.mtpx-81 {
  margin-top: 81px !important; }

.mtpx-80 {
  margin-top: 80px !important; }

.mtpx-79 {
  margin-top: 79px !important; }

.mtpx-78 {
  margin-top: 78px !important; }

.mtpx-77 {
  margin-top: 77px !important; }

.mtpx-76 {
  margin-top: 76px !important; }

.mtpx-75 {
  margin-top: 75px !important; }

.mtpx-74 {
  margin-top: 74px !important; }

.mtpx-73 {
  margin-top: 73px !important; }

.mtpx-72 {
  margin-top: 72px !important; }

.mtpx-71 {
  margin-top: 71px !important; }

.mtpx-70 {
  margin-top: 70px !important; }

.mtpx-69 {
  margin-top: 69px !important; }

.mtpx-68 {
  margin-top: 68px !important; }

.mtpx-67 {
  margin-top: 67px !important; }

.mtpx-66 {
  margin-top: 66px !important; }

.mtpx-65 {
  margin-top: 65px !important; }

.mtpx-64 {
  margin-top: 64px !important; }

.mtpx-63 {
  margin-top: 63px !important; }

.mtpx-62 {
  margin-top: 62px !important; }

.mtpx-61 {
  margin-top: 61px !important; }

.mtpx-60 {
  margin-top: 60px !important; }

.mtpx-59 {
  margin-top: 59px !important; }

.mtpx-58 {
  margin-top: 58px !important; }

.mtpx-57 {
  margin-top: 57px !important; }

.mtpx-56 {
  margin-top: 56px !important; }

.mtpx-55 {
  margin-top: 55px !important; }

.mtpx-54 {
  margin-top: 54px !important; }

.mtpx-53 {
  margin-top: 53px !important; }

.mtpx-52 {
  margin-top: 52px !important; }

.mtpx-51 {
  margin-top: 51px !important; }

.mtpx-50 {
  margin-top: 50px !important; }

.mtpx-49 {
  margin-top: 49px !important; }

.mtpx-48 {
  margin-top: 48px !important; }

.mtpx-47 {
  margin-top: 47px !important; }

.mtpx-46 {
  margin-top: 46px !important; }

.mtpx-45 {
  margin-top: 45px !important; }

.mtpx-44 {
  margin-top: 44px !important; }

.mtpx-43 {
  margin-top: 43px !important; }

.mtpx-42 {
  margin-top: 42px !important; }

.mtpx-41 {
  margin-top: 41px !important; }

.mtpx-40 {
  margin-top: 40px !important; }

.mtpx-39 {
  margin-top: 39px !important; }

.mtpx-38 {
  margin-top: 38px !important; }

.mtpx-37 {
  margin-top: 37px !important; }

.mtpx-36 {
  margin-top: 36px !important; }

.mtpx-35 {
  margin-top: 35px !important; }

.mtpx-34 {
  margin-top: 34px !important; }

.mtpx-33 {
  margin-top: 33px !important; }

.mtpx-32 {
  margin-top: 32px !important; }

.mtpx-31 {
  margin-top: 31px !important; }

.mtpx-30 {
  margin-top: 30px !important; }

.mtpx-29 {
  margin-top: 29px !important; }

.mtpx-28 {
  margin-top: 28px !important; }

.mtpx-27 {
  margin-top: 27px !important; }

.mtpx-26 {
  margin-top: 26px !important; }

.mtpx-25 {
  margin-top: 25px !important; }

.mtpx-24 {
  margin-top: 24px !important; }

.mtpx-23 {
  margin-top: 23px !important; }

.mtpx-22 {
  margin-top: 22px !important; }

.mtpx-21 {
  margin-top: 21px !important; }

.mtpx-20 {
  margin-top: 20px !important; }

.mtpx-19 {
  margin-top: 19px !important; }

.mtpx-18 {
  margin-top: 18px !important; }

.mtpx-17 {
  margin-top: 17px !important; }

.mtpx-16 {
  margin-top: 16px !important; }

.mtpx-15 {
  margin-top: 15px !important; }

.mtpx-14 {
  margin-top: 14px !important; }

.mtpx-13 {
  margin-top: 13px !important; }

.mtpx-12 {
  margin-top: 12px !important; }

.mtpx-11 {
  margin-top: 11px !important; }

.mtpx-10 {
  margin-top: 10px !important; }

.mtpx-9 {
  margin-top: 9px !important; }

.mtpx-8 {
  margin-top: 8px !important; }

.mtpx-7 {
  margin-top: 7px !important; }

.mtpx-6 {
  margin-top: 6px !important; }

.mtpx-5 {
  margin-top: 5px !important; }

.mtpx-4 {
  margin-top: 4px !important; }

.mtpx-3 {
  margin-top: 3px !important; }

.mtpx-2 {
  margin-top: 2px !important; }

.mtpx-1 {
  margin-top: 1px !important; }

.mtpx-0 {
  margin-top: 0px !important; }

.pbpx-108 {
  padding-bottom: 108px !important; }

.pbpx-100 {
  padding-bottom: 100px !important; }

.pbpx-99 {
  padding-bottom: 99px !important; }

.pbpx-98 {
  padding-bottom: 98px !important; }

.pbpx-97 {
  padding-bottom: 97px !important; }

.pbpx-96 {
  padding-bottom: 96px !important; }

.pbpx-95 {
  padding-bottom: 95px !important; }

.pbpx-94 {
  padding-bottom: 94px !important; }

.pbpx-93 {
  padding-bottom: 93px !important; }

.pbpx-92 {
  padding-bottom: 92px !important; }

.pbpx-91 {
  padding-bottom: 91px !important; }

.pbpx-90 {
  padding-bottom: 90px !important; }

.pbpx-89 {
  padding-bottom: 89px !important; }

.pbpx-88 {
  padding-bottom: 88px !important; }

.pbpx-87 {
  padding-bottom: 87px !important; }

.pbpx-86 {
  padding-bottom: 86px !important; }

.pbpx-85 {
  padding-bottom: 85px !important; }

.pbpx-84 {
  padding-bottom: 84px !important; }

.pbpx-83 {
  padding-bottom: 83px !important; }

.pbpx-82 {
  padding-bottom: 82px !important; }

.pbpx-81 {
  padding-bottom: 81px !important; }

.pbpx-80 {
  padding-bottom: 80px !important; }

.pbpx-79 {
  padding-bottom: 79px !important; }

.pbpx-78 {
  padding-bottom: 78px !important; }

.pbpx-77 {
  padding-bottom: 77px !important; }

.pbpx-76 {
  padding-bottom: 76px !important; }

.pbpx-75 {
  padding-bottom: 75px !important; }

.pbpx-74 {
  padding-bottom: 74px !important; }

.pbpx-73 {
  padding-bottom: 73px !important; }

.pbpx-72 {
  padding-bottom: 72px !important; }

.pbpx-71 {
  padding-bottom: 71px !important; }

.pbpx-70 {
  padding-bottom: 70px !important; }

.pbpx-69 {
  padding-bottom: 69px !important; }

.pbpx-68 {
  padding-bottom: 68px !important; }

.pbpx-67 {
  padding-bottom: 67px !important; }

.pbpx-66 {
  padding-bottom: 66px !important; }

.pbpx-65 {
  padding-bottom: 65px !important; }

.pbpx-64 {
  padding-bottom: 64px !important; }

.pbpx-63 {
  padding-bottom: 63px !important; }

.pbpx-62 {
  padding-bottom: 62px !important; }

.pbpx-61 {
  padding-bottom: 61px !important; }

.pbpx-60 {
  padding-bottom: 60px !important; }

.pbpx-59 {
  padding-bottom: 59px !important; }

.pbpx-58 {
  padding-bottom: 58px !important; }

.pbpx-57 {
  padding-bottom: 57px !important; }

.pbpx-56 {
  padding-bottom: 56px !important; }

.pbpx-55 {
  padding-bottom: 55px !important; }

.pbpx-54 {
  padding-bottom: 54px !important; }

.pbpx-53 {
  padding-bottom: 53px !important; }

.pbpx-52 {
  padding-bottom: 52px !important; }

.pbpx-51 {
  padding-bottom: 51px !important; }

.pbpx-50 {
  padding-bottom: 50px !important; }

.pbpx-49 {
  padding-bottom: 49px !important; }

.pbpx-48 {
  padding-bottom: 48px !important; }

.pbpx-47 {
  padding-bottom: 47px !important; }

.pbpx-46 {
  padding-bottom: 46px !important; }

.pbpx-45 {
  padding-bottom: 45px !important; }

.pbpx-44 {
  padding-bottom: 44px !important; }

.pbpx-43 {
  padding-bottom: 43px !important; }

.pbpx-42 {
  padding-bottom: 42px !important; }

.pbpx-41 {
  padding-bottom: 41px !important; }

.pbpx-40 {
  padding-bottom: 40px !important; }

.pbpx-39 {
  padding-bottom: 39px !important; }

.pbpx-38 {
  padding-bottom: 38px !important; }

.pbpx-37 {
  padding-bottom: 37px !important; }

.pbpx-36 {
  padding-bottom: 36px !important; }

.pbpx-35 {
  padding-bottom: 35px !important; }

.pbpx-34 {
  padding-bottom: 34px !important; }

.pbpx-33 {
  padding-bottom: 33px !important; }

.pbpx-32 {
  padding-bottom: 32px !important; }

.pbpx-31 {
  padding-bottom: 31px !important; }

.pbpx-30 {
  padding-bottom: 30px !important; }

.pbpx-29 {
  padding-bottom: 29px !important; }

.pbpx-28 {
  padding-bottom: 28px !important; }

.pbpx-27 {
  padding-bottom: 27px !important; }

.pbpx-26 {
  padding-bottom: 26px !important; }

.pbpx-25 {
  padding-bottom: 25px !important; }

.pbpx-24 {
  padding-bottom: 24px !important; }

.pbpx-23 {
  padding-bottom: 23px !important; }

.pbpx-22 {
  padding-bottom: 22px !important; }

.pbpx-21 {
  padding-bottom: 21px !important; }

.pbpx-20 {
  padding-bottom: 20px !important; }

.pbpx-19 {
  padding-bottom: 19px !important; }

.pbpx-18 {
  padding-bottom: 18px !important; }

.pbpx-17 {
  padding-bottom: 17px !important; }

.pbpx-16 {
  padding-bottom: 16px !important; }

.pbpx-15 {
  padding-bottom: 15px !important; }

.pbpx-14 {
  padding-bottom: 14px !important; }

.pbpx-13 {
  padding-bottom: 13px !important; }

.pbpx-12 {
  padding-bottom: 12px !important; }

.pbpx-11 {
  padding-bottom: 11px !important; }

.pbpx-10 {
  padding-bottom: 10px !important; }

.pbpx-9 {
  padding-bottom: 9px !important; }

.pbpx-8 {
  padding-bottom: 8px !important; }

.pbpx-7 {
  padding-bottom: 7px !important; }

.pbpx-6 {
  padding-bottom: 6px !important; }

.pbpx-5 {
  padding-bottom: 5px !important; }

.pbpx-4 {
  padding-bottom: 4px !important; }

.pbpx-3 {
  padding-bottom: 3px !important; }

.pbpx-2 {
  padding-bottom: 2px !important; }

.pbpx-1 {
  padding-bottom: 1px !important; }

.pbpx-0 {
  padding-bottom: 0px !important; }

.ptpx-110 {
  padding-top: 110px !important; }

.ptpx-106 {
  padding-top: 106px !important; }

.ptpx-103 {
  padding-top: 103px !important; }

.ptpx-100 {
  padding-top: 100px !important; }

.ptpx-99 {
  padding-top: 99px !important; }

.ptpx-98 {
  padding-top: 98px !important; }

.ptpx-97 {
  padding-top: 97px !important; }

.ptpx-96 {
  padding-top: 96px !important; }

.ptpx-95 {
  padding-top: 95px !important; }

.ptpx-94 {
  padding-top: 94px !important; }

.ptpx-93 {
  padding-top: 93px !important; }

.ptpx-92 {
  padding-top: 92px !important; }

.ptpx-91 {
  padding-top: 91px !important; }

.ptpx-90 {
  padding-top: 90px !important; }

.ptpx-89 {
  padding-top: 89px !important; }

.ptpx-88 {
  padding-top: 88px !important; }

.ptpx-87 {
  padding-top: 87px !important; }

.ptpx-86 {
  padding-top: 86px !important; }

.ptpx-85 {
  padding-top: 85px !important; }

.ptpx-84 {
  padding-top: 84px !important; }

.ptpx-83 {
  padding-top: 83px !important; }

.ptpx-82 {
  padding-top: 82px !important; }

.ptpx-81 {
  padding-top: 81px !important; }

.ptpx-80 {
  padding-top: 80px !important; }

.ptpx-79 {
  padding-top: 79px !important; }

.ptpx-78 {
  padding-top: 78px !important; }

.ptpx-77 {
  padding-top: 77px !important; }

.ptpx-76 {
  padding-top: 76px !important; }

.ptpx-75 {
  padding-top: 75px !important; }

.ptpx-74 {
  padding-top: 74px !important; }

.ptpx-73 {
  padding-top: 73px !important; }

.ptpx-72 {
  padding-top: 72px !important; }

.ptpx-71 {
  padding-top: 71px !important; }

.ptpx-70 {
  padding-top: 70px !important; }

.ptpx-69 {
  padding-top: 69px !important; }

.ptpx-68 {
  padding-top: 68px !important; }

.ptpx-67 {
  padding-top: 67px !important; }

.ptpx-66 {
  padding-top: 66px !important; }

.ptpx-65 {
  padding-top: 65px !important; }

.ptpx-64 {
  padding-top: 64px !important; }

.ptpx-63 {
  padding-top: 63px !important; }

.ptpx-62 {
  padding-top: 62px !important; }

.ptpx-61 {
  padding-top: 61px !important; }

.ptpx-60 {
  padding-top: 60px !important; }

.ptpx-59 {
  padding-top: 59px !important; }

.ptpx-58 {
  padding-top: 58px !important; }

.ptpx-57 {
  padding-top: 57px !important; }

.ptpx-56 {
  padding-top: 56px !important; }

.ptpx-55 {
  padding-top: 55px !important; }

.ptpx-54 {
  padding-top: 54px !important; }

.ptpx-53 {
  padding-top: 53px !important; }

.ptpx-52 {
  padding-top: 52px !important; }

.ptpx-51 {
  padding-top: 51px !important; }

.ptpx-50 {
  padding-top: 50px !important; }

.ptpx-49 {
  padding-top: 49px !important; }

.ptpx-48 {
  padding-top: 48px !important; }

.ptpx-47 {
  padding-top: 47px !important; }

.ptpx-46 {
  padding-top: 46px !important; }

.ptpx-45 {
  padding-top: 45px !important; }

.ptpx-44 {
  padding-top: 44px !important; }

.ptpx-43 {
  padding-top: 43px !important; }

.ptpx-42 {
  padding-top: 42px !important; }

.ptpx-41 {
  padding-top: 41px !important; }

.ptpx-40 {
  padding-top: 40px !important; }

.ptpx-39 {
  padding-top: 39px !important; }

.ptpx-38 {
  padding-top: 38px !important; }

.ptpx-37 {
  padding-top: 37px !important; }

.ptpx-36 {
  padding-top: 36px !important; }

.ptpx-35 {
  padding-top: 35px !important; }

.ptpx-34 {
  padding-top: 34px !important; }

.ptpx-33 {
  padding-top: 33px !important; }

.ptpx-32 {
  padding-top: 32px !important; }

.ptpx-31 {
  padding-top: 31px !important; }

.ptpx-30 {
  padding-top: 30px !important; }

.ptpx-29 {
  padding-top: 29px !important; }

.ptpx-28 {
  padding-top: 28px !important; }

.ptpx-27 {
  padding-top: 27px !important; }

.ptpx-26 {
  padding-top: 26px !important; }

.ptpx-25 {
  padding-top: 25px !important; }

.ptpx-24 {
  padding-top: 24px !important; }

.ptpx-23 {
  padding-top: 23px !important; }

.ptpx-22 {
  padding-top: 22px !important; }

.ptpx-21 {
  padding-top: 21px !important; }

.ptpx-20 {
  padding-top: 20px !important; }

.ptpx-19 {
  padding-top: 19px !important; }

.ptpx-18 {
  padding-top: 18px !important; }

.ptpx-17 {
  padding-top: 17px !important; }

.ptpx-16 {
  padding-top: 16px !important; }

.ptpx-15 {
  padding-top: 15px !important; }

.ptpx-14 {
  padding-top: 14px !important; }

.ptpx-13 {
  padding-top: 13px !important; }

.ptpx-12 {
  padding-top: 12px !important; }

.ptpx-11 {
  padding-top: 11px !important; }

.ptpx-10 {
  padding-top: 10px !important; }

.ptpx-9 {
  padding-top: 9px !important; }

.ptpx-8 {
  padding-top: 8px !important; }

.ptpx-7 {
  padding-top: 7px !important; }

.ptpx-6 {
  padding-top: 6px !important; }

.ptpx-5 {
  padding-top: 5px !important; }

.ptpx-4 {
  padding-top: 4px !important; }

.ptpx-3 {
  padding-top: 3px !important; }

.ptpx-2 {
  padding-top: 2px !important; }

.ptpx-1 {
  padding-top: 1px !important; }

.ptpx-0 {
  padding-top: 0px !important; }

 .mrpx-0 {
    margin-right: 0px!important;
  }

  .mrpx-12 {
    margin-right: 12px!important;
  }

   .mrpx-6 {
    margin-right: 6px!important;
  }

.nopr-0 {
  padding-right: 0px!important;
}

.nopl-0 {
  padding-left: 0px!important;
}

.prpx-6 {
  padding-right: 6px!important;
}

.prpx-50 {
  padding-right: 50px!important;
}

.plpx-50 {
  padding-left: 50px!important;
}

.plpx-68 {
  padding-left: 68px!important;
}

.pbpx-187 {
  padding-bottom: 187px!important;
}

.mrpx-23 {
  margin-right: 23px!important;
}

.noprl-0 {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.plpx-40 {
  padding-left: 41px!important;
}

.nopad {
  padding: 0px!important;
}